.about-section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  max-height: 100%;
}
.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;

  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.about-content {
  width: 70%;
}

.about-section h1 {
  letter-spacing: 0.1rem;
  color: rgb(65, 65, 65);
}
.about-section li,
p {
  color: rgb(65, 65, 65);
  width: 80%;
}

li {
  margin: 5px 0 0 10px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
}
.about-content p {
  text-align: center;
  text-align: justify;
  color: rgb(65, 65, 65);
}
.about-content ul li {
  color: rgb(65, 65, 65);
}
.about-content h2 {
  color: rgb(65, 65, 65);
  letter-spacing: 0.1rem;
}
.about-card > img {
  width: 20%;
  height: 20%;
}

@media screen and (max-width: 500px) {
  .about-card {
    width: 90%;
  }
  .about-content {
    width: 100%;
  }
  .about-section h2,
  h3 {
    font-size: 0.9em;
    text-align: center;
  }
  .about-card img {
    display: none;
  }
  .about-content > ul > li,
  p {
    margin: 0 auto;
    font-size: 0.9em;
  }

  .about-section {
    height: 100%;
    margin-top: 20px;
  }
}
